<%- include ('partials/_header'); -%>

    <h1>Compradores</h1>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-boredered table-hover">
                    <thead>
                        <tr>
                            <th>n°</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Telefonos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= (i + 1) %>
                                    </td>
                                    <td>
                                        <%= data[i].name %>
                                    </td>
                                    <td>
                                        <%= data[i].address %>
                                    </td>
                                    <td>
                                        <%= data[i].phone %>
                                    </td>
                                    <td>
                                        <a href="/update/<%= data[i].id %>"  class="btn btn-info btn-sm btn-block">Editar  </a>
                                        <a href="/delete/<%= data[i].id %>" onclick="JSalertEliminar()" class="btn btn-danger btn-sm btn-block">Eliminar</a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>

            </div>

            <div class="col-md-5">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="text" name="address" placeholder="Dirección" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone" placeholder="Telefono" class="form-control">
                        </div>

                        <button onclick="JSalertGuardar()" type="submit" class="btn btn-primary">
                            Guardar Comprador
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

    <%- include ('partials/_footer'); -%>